<%inherit file="/base/index.html"/>

<%def name="title()">Изменение пользователя </%def>
<%def name="heading()"><h1>Изменение пользователя ${c.username}</h1></%def>

${h.form_start(h.url(controller='account', action='edit_user', username=c.username), method="post")}
    ${h.field(
        "Имя",
        h.text(name='view'),
        required=True,
    )}
    ${h.field(
        "E-mail",
        h.text(name='mail'),
        required=True,
    )}
    ${h.field(
        "Пароль",
        h.password(name='password'),
        required=True,
    )}    
    ${h.field(
        u"Группа",
        h.select(
            "group",
            id='group',
            options=c.available_groups,
            selected_values=c.group,
        ),
        required=True
    )}
##    ${h.field(
##        u"Права",
##        h.select(
##            "roles",
##            id='roles',
##            options=c.available_roles,
##            selected_values=c.roles,
##            #multiple = True
##        ),
##    )}
    ${h.field(field=h.submit(value="Изменить", name='submit'))}
${h.form_end()}
    
<%def name="user_exists_print()">
    <p>Username <b>${c.username}</b> already exists.</p>    
</%def>    
    