## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${self.title()}</title>
    ${self.head()}
</head>
<body>
    ${self.account()}
    ${self.campaign()}
    ${self.footer()}
    ${self.heading()}
    ${self.header()}
    ${next.body()}

</body>
</html>


<%def name="account()">
    % if h.auth.authorized(h.auth.is_valid_user) and not (request.urlvars['controller'] == 'account' and request.urlvars['action'] == 'signout'):
        <p>Вы вошли как <b>${request.environ['REMOTE_USER']}</b>,
            ${app_globals.user_view}. Группа: ${app_globals.user_group}. 
            <a href="${h.url('signout')}">Выйти</a></p>
    % else:
        <p><a href="${h.url('signin')}">Войти</a></p>
    % endif
</%def>

<%def name="campaign()">
    % if h.auth.authorized(h.auth.is_valid_user):
    %       if (app_globals.current_campaign_id == 0) and (app_globals.finished_active_campaign_id == 0):
                <p>В данный момент не запущено кампаний.</p>
    %       endif   
    %       if (app_globals.current_campaign_id != 0) and (app_globals.finished_active_campaign_id == 0):
                <p>Запущена заявочная кампания № ${app_globals.current_campaign_id}. Срок проведения: с <b>${app_globals.current_campaign_start_date}</b> по <b>${app_globals.current_campaign_end_date}</b>.</p>
    %       endif
    %       if app_globals.finished_active_campaign_id != 0:
                <p>Заявочная кампания № ${app_globals.finished_active_campaign_id} окончена. Срок проведения: с <b>${app_globals.finished_active_campaign_start_date}</b> по <b>${app_globals.finished_active_campaign_end_date}</b>.</p>
    %       endif    
    % endif
</%def>

<%def name="title()">
    Система управления закупками
</%def>

<%def name="head()">
</%def>

<%def name="header()">
    <a name="top"></a>
</%def>


<%def name="heading()">
    <h1>${c.heading or 'No Title'}</h1>
</%def>

<%def name="footer()">
    % if h.auth.authorized(h.auth.is_valid_user):
        <p>
        <a href="${h.url('/')}">[Каталог]</a> |
        % if not h.auth.authorized(h.auth.has_admin_role):
            % if app_globals.current_campaign_id != 0:
                <a href="${h.url(controller='app', action='user_app')}">[Заявка]</a> |  
            % endif
            % if app_globals.current_campaign_id == 0:
                [Заявка] |
            % endif   
        % endif 
        % if h.auth.authorized(h.auth.has_admin_role):
            <a href="${h.url(controller='account', action='index')}">[Пользователи]</a> | 
        % endif     
        % if h.auth.authorized(h.auth.has_boss_role):
            % if app_globals.current_campaign_id != 0:
                <a href="${h.url(controller='app', action='group_app')}">[Заявка по отделу]</a> | 
            % endif
            % if app_globals.current_campaign_id == 0:
                [Заявка по отделу] |
            % endif   
        % endif  
        % if h.auth.authorized(h.auth.has_director_role):
            % if app_globals.current_campaign_id != 0:
                <a href="${h.url(controller='app', action='global_app')}">[Заявка по предприятию]</a> |
                <a href="${h.url(controller='app', action='sale_app')}">[Реализация заявки]</a> |
            % endif
            % if app_globals.current_campaign_id == 0:
                [Заявка по предприятию] |
                [Реализация заявки] |
            % endif
            <a href="${h.url(controller='campaign', action='index')}">[Кампании]</a>
        % endif  
       ### <a href="#top">[Наверх]</a>
        </p>
    % endif
</%def>