## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>${self.title()}</title>
    ${self.head()}
</head>
<body>
    ${self.account()}
    ${self.heading()}
    ${self.header()}
    ${next.body()}
    ${self.footer()}
</body>
</html>


<%def name="account()">
    % if h.auth.authorized(h.auth.is_valid_user) and not (request.urlvars['controller'] == 'account' and request.urlvars['action'] == 'signout'):
        <p>Вы вошли как <b><a href="${h.url(controller='account', action='cabinet')}">${request.environ['REMOTE_USER']}</a></b>,
            <a href="${h.url('signout')}">Выйти</a></p>
    % else:
        <p><a href="${h.url('signin')}">Войти</a></p>
    % endif
    <hr>
</%def>

<%def name="title()">
    Система управления закупками
</%def>

<%def name="head()">
</%def>

<%def name="header()">
    <a name="top"></a>
</%def>


<%def name="heading()">
    <h1>${c.heading or 'No Title'}</h1>
</%def>

<%def name="footer()">
    <p>
        <a href="${h.url('/')}">[Каталог]</a> |
        <a href="${h.url(controller='account', action='index')}">[Пользователи]</a> |
        <a href="#top">[Наверх]</a>
    </p>
</%def>