<%inherit file="/base/index.html"/>

<%def name="title()">Заявка</%def>
<%def name="heading()"><h1>Заявка</h1></%def>  

${h.form_start(h.url(controller='app', action='save_user_app', id=c.current_app.id), method="post")}

    <table border="1" width="100%">
        <tr>
            <th rowspan="2" width="15">     №</th>
            <th rowspan="2" width="200">    Наименование</th>
            <th rowspan="2" width="50">     Ед. Изм</th>
            <th colspan="4">                Квартал</th>
            <th rowspan="2" width="50">     Общее<br />кол-во</th>
            <th rowspan="2" width="40">     Цена (руб.)</th>
            <th rowspan="2" width="50">     Сумма (руб.)</th>
            <th rowspan="2" width="80">     Источник<br />финансирования</th>
            <th rowspan="2" width="80">     Для каких нужд</th>
            <th rowspan="2" width="80">     Место<br />внедрения</th>
            <th rowspan="2" width="90">     Примечание</th>
            <th rowspan="2" width="90">     Статус</th>
        </tr>
        <tr>
            <th width="70">1</th> 
            <th width="70">2</th>
            <th width="70">3</th>
            <th width="70">4</th>               
        </tr>
    <% 
        count = 0
    %>
    % for app_element in c.current_app_elements:
        <% 
            count += 1
        %>
        <tr>
            <td align="right">${count}</td>
            <td>${app_element.items.brand} ${app_element.items.model} 
                % if (c.current_app.status == 1) or (h.auth.authorized(h.auth.has_director_role)):
                    (<a href="${h.url(controller='app', action='delete_item', id=app_element.id)}">удалить</a>)
                % endif
            </td>
            <td>${app_element.items.units.name}</td>
            % if c.current_app.status == 1:
                <td>${h.text(name='quarter1_el%s'%(app_element.id), size=2)}</td>
                <td>${h.text(name='quarter2_el%s'%(app_element.id), size=2)}</td>
                <td>${h.text(name='quarter3_el%s'%(app_element.id), size=2)}</td>
                <td>${h.text(name='quarter4_el%s'%(app_element.id), size=2)}</td>
                <td>${c.element_amount[app_element.id]}</td>
                <td align="right">${app_element.items.price}</td>
                % if app_element.status == 3:
                    <td align="right"><i><b>${c.element_price[app_element.id]} / ${c.element_pricep[app_element.id]}</b></i></td>
                % else:
                    <td align="right">${c.element_price[app_element.id]}</td>
                % endif
            % endif
            % if c.current_app.status in (2,3,4):
                <td align="right">${app_element.quarter1} / ${app_element.quarter1p}</td>
                <td align="right">${app_element.quarter2} / ${app_element.quarter2p}</td>
                <td align="right">${app_element.quarter3} / ${app_element.quarter3p}</td>
                <td align="right">${app_element.quarter4} / ${app_element.quarter4p}</td>
                <td align="right">${c.element_amount[app_element.id]} / ${c.element_amountp[app_element.id]}</td>
                <td align="right">${app_element.items.price}</td>
                % if app_element.status == 3:
                    <td align="right"><i><b>${c.element_price[app_element.id]} / ${c.element_pricep[app_element.id]}</b></i></td>
                % else:
                    <td align="right">${c.element_price[app_element.id]} / ${c.element_pricep[app_element.id]}</td>
                % endif
            % endif    
            <td>${h.select(name='finsource_el%s'%(app_element.id), options=c.available_finsource, selected_values=[], rows="5",)}</td>                
            <td>${h.select(name='needs_el%s'%(app_element.id), options=c.available_needs, selected_values=[],)}</td>
            <td>${h.select(name='place_el%s'%(app_element.id), options=c.available_groups, selected_values=[],)}</td>
            <td>${h.textarea(name='note_el%s'%(app_element.id), rows=1, cols=10)}</td>
            <td>
                % if app_element.status == 1:
                    Изменено
                % endif
                % if app_element.status == 2:
                    Заменено
                % endif
                % if app_element.status == 3:
                    Удалено
                % endif
                % if app_element.status == 4:
                    Утверждено
                % endif
                % if app_element.status == 5:
                    Закуплено
                % endif
                % if app_element.status == 6:
                    Закуплено, изменено
                % endif
                % if app_element.status == 7:
                    Закуплено, заменено
                % endif
                % if app_element.status == 8:
                    Не закуплено
                % endif
            </td>
        </tr>
    % endfor
    
        <tr>
            <td></td>
            <th>Итого:</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            % if c.current_app.status == 1:
                <td align="right">${c.total_price}</td>
            % endif
            % if c.current_app.status in (2,3,4):
                <td align="right">${c.total_price} / ${c.total_pricep}</td>
            % endif
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
        
<br />
% if (c.current_app.status == 1) or (h.auth.authorized(h.auth.has_director_role)):
    ${h.field(field=h.submit(value=u"Внести изменения в заявку", name='submit'))}
    <br /><br />
% endif
% if c.current_app.status == 1 and (not h.auth.authorized(h.auth.has_director_role)):
    <p><a href="${h.url(controller='app', action='app_to_boss')}">Передача заявки на рассмотрение</a></p>
% endif
<p>
% if c.current_app.status == 2:
    Ваша заявка отправлена на рассмотрение.
% endif
% if c.current_app.status == 3:
    Ваша заявка утверждена ответственным по отделу.
% endif
% if (c.current_app.status == 4) and not (h.auth.authorized(h.auth.has_director_role)):
    Ваша заявка утверждена ответственным по предприятию.
% endif
</p>
% if h.auth.authorized(h.auth.has_director_role):
    <p><a href="${h.url(controller='app', action='director_app_to_global')}">Добавить к общей заявке</a></p>
% endif
<p><img src="/print.png"></img> <a href="${h.url(controller='app', action='user_app_print')}">Версия для печати</a></p>