<%inherit file="/base/index.html"/>

<%def name="title()">Заявки</%def>
<%def name="heading()"><h1>Заявка</h1></%def>

<h2>Текущая заявка</h2>
<b>id:</b> ${c.current_app.id}<br />
<b>author_id:</b> ${c.current_app.author_id}<br />
<b>Год:</b> ${c.current_app.year}<br />
<b>Статус:</b> ${c.current_app.status}<br />
<b>campaign_id:</b> ${c.current_app.campaign_id}<br />
<b>Информация:</b> ${c.current_app.info}<br />
<b>Дата создания:</b> ${c.current_app.created}<br />
<b>Дата изменения:</b> ${c.current_app.edited}<br />

<h2>Элементы заявки</h2>

<h2>Предыдущие заявки</h2>