<%inherit file="/base/index.html"/>

<%namespace file="/derived/catalog/catalog.html" name="catalog" import='*'/>

${h.form_start(h.url(controller='catalog', action='save_section'), method="post")}
    ${h.field(
        u"Название",
        h.text(name='name'),
        required=True,
    )}
    ${h.field(
        u"Раздел",
        h.select(
            "parent_section",
            id='parent_section',
            options=c.available_sections,
            selected_values=[],
        ),
        required=True
    )}
    ${h.field(
        u"Описание",
        h.textarea(name='description', rows=7, cols=40),
        required=True,
    )}
    ${h.field(field=h.submit(value=u"Изменить", name='submit'))}
${h.form_end()}

<%def name="heading()">
    <h1 class="main">Изменение раздела "${c.current_section.name}"</h1>
</%def>