<%inherit file="/base/index.html"/>

<%namespace file="/derived/catalog/catalog.html" name="catalog" import='*'/>

    ${breadcrumbs()}
    <div id="yui-main">
        <div class="yui-b">
            ##${main_sections()}
            ###${subsections()}
            ${section_description()}
            ${section_items()}
            ${item_actions()}
            ${section_actions()}           
        </div>
    </div>
    <div class="yui-b">
        ${all_sections()}
        ${search()}
    </div>

<%def name="heading()">
    <h1 class="main">Каталог</h1>
</%def>